{% extends "layout.html" %}
{% block title %}Choose Vehicle{% endblock %}
{% block stylesheet %} {% endblock %}
{% block content %}
<h2 style="text-align: center;">SELECT A VEHICLE </h2>
    <form id="commonFormID" method="POST" action="{{ url_for('vehicle.ChooseVehicle') }}">
        <div class="row" style="padding: 10px; margin:10px;">
            {% for vehicle in vehicles %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">

                        <h5 class="card-title">Vehicle Name: {{ vehicle[4] }}</h5>
                        <p class="card-text">
                            <strong>Vehicle ID:</strong> {{ vehicle[0] }}<br>
                            <strong>Vehicle Type:</strong> {{ vehicle[1] }}<br>
                            <strong>Vehicle Number:</strong> {{ vehicle[2] }}<br>
                            <a href="{{url_for('vehicle.edit_vehicle', VehicleID=vehicle[0])}}" style="text-decoration:none">Edit</a>
                            <a href="{{url_for('vehicle.delete_vehicle', VehicleID=vehicle[0])}}" style="text-decoration:none">Delete</a>

                        </p>

                        <div class="form-check">
                            <!-- Changed name from SelectedID to VehicleID to match the backend code -->
                            <input class="form-check-input" type="radio" name="VehicleID" id="vehicle{{ vehicle[0] }}" value="{{ vehicle[0] }}" required>
                            <label class="form-check-label" for="vehicle{{ vehicle[0] }}">
                                Select this vehicle
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <a style="text-decoration: none; text-align:center; margin-left:600px;" href="{{url_for('vehicle.add_vehicle') }}">Add vehicle</a><br><br>

        <button style="margin-left: 600px;" id="CAlign-ID" type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
