    {% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receipt Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Include any additional styling or scripts here -->
</head>
<body>
<h1 style="margin-left: 10px; margin-top: 10px;">Receipt</h1>
<div class="flash message">
    {% for msg in get_flashed_messages() %}
        <div class="flash-messages success-danger">
            {{ msg }}
        </div>
    {% endfor %}
</div>


<div class="Reciept" style="margin-top:20px;">
    <div class="card border-secondary mb-3" style="max-width: 20rem; margin-left: 40%;">
      <div class="card-header">Ticket</div>
      <div class="card-body text-secondary">
            <p><strong>Slot:</strong>{{ ReceiptID }}</p>
            <p><strong>Vehicle Type: </strong>{{ VehicleType }}</p>
            <p><strong>Registration Number: </strong>{{ VehicleNumber }}</p>
            <p><strong>Date:    </strong>{{ date }}</p>
            <p><strong>Price: </strong>{{ Price }}</p>
            <p><strong>Mode: </strong>{{ Mode }}</p>
            <p><strong>TimeFrom: </strong>{{ TimeFrom }}</p>
            <p><strong>Time To: </strong>{{ TimeTo }}</p>
      </div>
    </div>
</div>


<br>
</body>
</html>
{% endblock %}
