{% extends "layout.html" %}
{% block title %}Owner{% endblock %}
{% block stylesheet %}
<style>
footer{
    position:relative;
    top:200px;
    bottom:200px;

}
</style>
{% endblock %}
{% block content %}
<div class="container"><h1 style="display: flex; justify-content: center;">Owner Details</h1>
</div>
<div class="flash-messages">
    {% for message in get_flashed_messages() %}
    <div class="flash-message success danger">{{ msg }}</div>
    {% endfor %}
</div>

<table border="2">
    <thead>
    <tr class="tabledata">
        <th>Slot</th>
        <th>Name</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
    <tr class="tabledata">
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        {% if row[3] %}
            <td>{{ '+91' ~ row[3] }}</td>
        {% else %}
            <td>{{ row[3] }}</td>
        {% endif %}
        <td>
            <a class="edit-link" href="{{ url_for('owner.edit_data', OwnerID=row[0]) }}">Edit</a>
{#            <a class="Delete-link" href="{{ url_for('owner.delete_data', OwnerID=row[0]) }}">Delete</a>#}
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
    <div style="text-align: center">
{#        <a href="{{ url_for('owner.add_data') }}">Add data</a>#}

    </div>

    <a style="margin:10px; display:flex; justify-content:center" href="{{ url_for('auth.dashboard') }}"><button  class="btn btn-primary">Back</button></a>

{% endblock %}
