{% extends "layout.html" %}
{% block title %}Slots{% endblock %}
{% block stylesheet %} {% endblock %}
{% block content %}
<h1>Slots</h1>
<div class="flash messages">
    {% for message in get_flashed_messages() %}
    <div class="flash-message success danger">{{ msg }}</div>
    {% endfor %}
</div>

<table border="2">
    <thead>
    <tr class="tabledata">
        <th>Slot</th>
        <th>space</th>
        <th>price</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
    <tr class="tabledata">
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ 'Rs ' ~ row[2] ~ '/hr'}}</td>
        <td>
            <a class="edit-link" href="{{ url_for('Slots.edit_data', SlotID=row[0]) }}">Edit</a><br>    
            <a class="delete-link" href="{{ url_for('Slots.delete_data', SlotID=row[0]) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div style="text-align: center">
    <a class="Add-link" href="{{ url_for('Slots.add_data', SlotID=data[0]) }}"><button type="submit" class="btn btn-primary">Add data</button></a>
    <a class="Back-button" href="{{ url_for('auth.dashboard') }}"><button type="Submit" class="btn btn-primary">Back</button></a>
</div>
{% endblock %}
