{% extends "layout.html" %}
{% block title %}Delete bookingslot{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
<h1>Delete your bookingslot</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash message">
    {% for message in get_flashed_messages() %}
    <div class="flash message {{ category }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<form method="POST" href="{{ url_for('bookingslot.delete_data', BSlotID=data[0]) }}">
    <div style="margin-top: 50px">
        <p style="text-align: center">Payment is non refundable</p>

        <p style="margin-left: 37%">Are you sure you want to delete the following data?</p>
        <p style="margin-left: 45%">Date: {{ data[1] }}</p>
        <p style="margin-left: 45%">TimeFrom: {{ data[2] }}</p>
        <p style="margin-left: 46%">TimeTo: {{ data[3] }}</p>
        <button style="margin-left: 46%" type="submit" class="btn btn-primary">Delete data</button>
    </div>
</form>
<a style="margin-left: 43%"class="backlink" href="/bookingslot">Back to booking the slots</a>
{% endblock %}