{% extends "layout.html" %}
{% block title %}Update Owner Details{% endblock %}
{% block stylesheet %} {% endblock %}
{% block content %}
<h1>Update owner details</h1>
<form method="POST" action="{{ url_for('owner.edit_data', OwnerID=data[0]) }}">
    <div class="CAligndiv">
{#        <label for="Name">Name</label>#}
        <input class="CAlign" type="text" id="Name" name="Name" value="{{ data[1] }}" placeholder="Name" required maxlength="30">
        <br><br>

{#        <label for="contact">contact</label>#}
        <input class="CAlign" type="number" id="contact" name="contact" value="{{ data[2] }}" placeholder="Contact" onkeypress="if(this.value.length==10) return false">
        <br><br>

{#        <label for="address">Address</label>#}
        <input class="CAlign" type="text" id="address" name="address" value="{{ data[3] }}" placeholder="Address" required maxlength="40">
        <br><br>
        <button class="btn btn-primary" id="EditAlignID" type="submit" value="update">Update</button>

        <br><br>
    </div>

    <div class="flash message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for category, message in get_flashed_messages %}
                    <div class="alert alert-success">
                        {{ message, category }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    </form>

<div class="Backlink"><a class="backlink" href="/owner">Back to owners</a></div>
{% endblock %}
