{% extends "layout.html" %}
{% block title %}Custom vehicle{% endblock %}
{% block content %}
<h1>Book your desired slot</h1>
<br><br>
<form method="POST" action="{{ url_for('vehicle.AdminVehicle') }}">
    
    <div class="flash message">
        {% for msg in get_flashed_messages() %}
        <div class="alert alert-danger">{{msg}}</div>
        {% endfor %}
    </div>
    {% if session['user'] == 'admin' %}
        <input type="text" name="name" class="CAlign">
        
    {% endif %}
    <select class="CAlign" name="VehicleID" id="VehicleID" required>
                <option value="VID">Available Slots</option> <!-- The option for selecting all slots -->
                {% for slot in VID %}
                    <option value="{{ slot }}">{{ slot }}</option>
                {% endfor %}
    </select><br><br>

    <select class="CAlign" name="VehicleType" id="VehicleType" required>
        <option value="car">Car</option>
        <option value="2-Wheeler">2-Wheeler</option>
        <option value="Heavy-Vehicle">Heavy-Vehicle</option>
    </select>
    <br><br>

    <input class="CAlign" type="text" id="VehicleNumber" name="VehicleNumber" placeholder="Reg. No" required maxlength="10">
    <br><br>

    <input class="CAlign" type="text" id="name" name="name" placeholder="Name" required maxlength="30">
    <br><br>

    <input class="CAlign" type="number" id="contact" name="contact" placeholder="contact" required maxlength="10" onkeypress="if(this.value.length==12)return false">
    <br><br>

    <input class="CAlign" type="text" type="text" id="address" name="address" placeholder="address" required maxlength="50">
    <br><br>

    <label class="CAlign" for="date">Date</label><br>
    <input class="CAlign" type="date" id="date" name="date">
    <br><br>

    <label class="CAlign" for="TimeFrom">TimeFrom</label><br>
    <input class="CAlign" type="time" id="TimeFrom" name="TimeFrom">
    <br><br>

    <label class="CAlign" for="duration">duration</label><br>
    <select class="CAlign" id="duration" name="duration" onchange="toggleCustomTimeTo()">
        <option value="1">1 hour</option>
        <option value="2">2 hours</option>
        <option value="3">3 hours</option>
        <option value="4">4 hours</option>
        <option value="6">6 hours</option>
        <option value="8">8 hours</option>
        <option value="custom">custom</option>
    </select>
    <br><br>

    <label class="CAlign" for="mode">Mode</label><br>
    <select class="CAlign" id="mode" name="mode">
        <option value="UPI">UPI</option>
        <option value="Cash">Cash</option>
        <option value="Card">Card</option>
        <option value="Net-Banking">Net-Banking</option>
    </select>





    



    <button style="margin-top:10px" id="CAlignID" type="submit" class="btn btn-primary">Generate Receipt</button>
</form>


{% endblock %}

