{% extends "layout.html" %}
{% block title %}Add booking slot{% endblock %}
{% block stylesheet %} {% endblock %}
{% block content %}
<h1 style="margin-top: 20px;">Add booking time and date</h1>

<form method="POST" action="{{ url_for('bookingslot.add_data') }}">
    <form id="commonFormID" method="POST" action="{{ url_for('bookingslot.add_data') }}?SNo={{ SNo }}">

<div class="flash message">
        {% for msg in get_flashed_messages() %}
            <div class="alert alert-danger">{{ msg }}</div>
        {% endfor %}
</div>
<br><br>

        <input class="CAlign" type="number" id="BSlotID" name="BSlotID" placeholder="BSlotID" value="{{ BSlotID }}" required maxlength="20" readonly><br>
        
        <input class="CAlign" placeholder="VehicleID" id="VehicleID" name="VehicleID" type="number" value="{{ VehicleID }}" readonly>

    <label class="CAlign" for="date">Date</label><br>
    <input class="CAlign" type="date" id="date" name="date">
    <br><br>

    <label class="CAlign" for="TimeFrom">From</label>
    <input class="CAlign" id="TimeFrom" name="TimeFrom" type="time">
    <br><br>

    <br><label class="CAlign" for="duration">Duration</label><br>
    <select class="CAlign" id="duration" name="duration">
        <option value="1">1 hour</option>
        <option value="2">2 hours</option>
        <option value="3">3 hours</option>
        <option value="4">4 hours</option>
        <option value="6">6 hours</option>
        <option value="8">8 hours</option>
    </select>
    <br><br>


    {% if duration == 'custom' %}
        <label class="CAlign" for="To">To</label><br>
        <input class="CAlign" type="time" id="TimeTo" name="TimeTo">
        <br><br>
    {% endif %}


        <button style="margin-left:640px;" id="CAlignID" type="submit" value="submit" class="btn btn-primary">Proceed to Payment</button>

        </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

        $(document).ready(function() {
            $('#date').datepicker();
        });

    </script>
    



{% endblock %}



