{% extends "layout.html" %}
{% block title %}Custom vehicle{% endblock %}
{% block content %}
<h1>Book your desired slot</h1>
<br><br>
<form method="POST" action="{{ url_for('bookingslot.customSlot') }}">
	
	<div class="flash message">
		{% for msg in get_flashed_messages() %}
		<div class="alert alert-danger">{{msg}}</div>
		{% endfor %}
	</div>
    {% if session['user'] == 'admin' %}
        <input type="text" name="name" class="CAlign">
        
    {% endif %}
    <input class="CAlign" name="VehicleID" id="VehicleID" value="{{VehicleID}}" type="number" placeholder="VehicleID"><br><br>
	<select class="CAlign" name="BSlotID" id="slots" required>
                <option value="slots">Available Slots</option>
                {% for slot in slots %}
                    <option value="{{ slot }}">{{ slot }}</option>
                {% endfor %}
    </select><br><br>


     <label class="CAlign" for="date">Date</label><br>
    <input class="CAlign" type="date" id="Date" name="Date">
    <br><br>

    <label class="CAlign" for="TimeFrom">From</label>
    <input class="CAlign" id="TimeFrom" name="TimeFrom" type="time">
    <br><br>

    <br><label class="CAlign" for="duration">Duration</label><br>
    <select class="CAlign" id="duration" name="duration" onchange="toggleCustomTimeTo()">
        <option value="1">1 hour</option>
        <option value="2">2 hours</option>
        <option value="3">3 hours</option>
        <option value="4">4 hours</option>
        <option value="6">6 hours</option>
        <option value="8">8 hours</option>
        <option value="custom">custom</option>
    </select>
    <br><br>

    <button style="margin-top:10px" id="CAlignID" type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}

