{% extends "layout.html" %}
{% block title %}Add payment{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
<h1>Add Payment Details</h1>
<form id="commonFormID" method="POST" action="{{ url_for('payment.add_data') }}">
    <div class="flash message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
{VehicleID} {{VehicleID}}
{mode} {{mode}}
{BSlotID} {{BSlotID}}
{PaymentID} {{PaymentID}}
{SNo} {{SNo}}
    <input class="CAlign" type="hidden" id="VehicleID" name="VehicleID" value="{{ VehicleID }}"><br><br>
    
    <select class="CAlign" id="mode" name="mode">
        <option value="UPI">UPI</option>
        
    </select>
    
    <button style="margin-left: 650px; margin-top:30px;" id="CAlignID" type="submit" class="btn btn-primary">Generate Receipt</button>
</form>
{% endblock %}
