{% extends "layout.html" %}
{% block title %}Add payment{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
<h1>Process the payment;</h1>
<form id="commonFormID" method="POST" action="{{ url_for('payment.add_data') }}">
    <div class="flash message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <input class="CAlign" type="hidden" id="VehicleID" name="VehicleID" value="{{ VehicleID }}"><br><br>

    <!-- <input class="CAlign" type="number" id="TotalPrice" name="TotalPrice" value="{{ TotalPrice }}" placeholder="Total Price" readonly><br><br> -->
    


     {{TotalPrice}}
    <select class="CAlign" id="mode" name="mode">
        <option value="UPI">UPI</option>
        <option value="Cash">Cash</option>
        <option value="Card">Card</option>
        <option value="Net-Banking">Net-Banking</option>
    </select>
    
    <button id="CAlignID" type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
