
{% extends "layout.html" %}
{% block title %}Add vehicle details{% endblock %}
{% block stylesheet %} {% endblock %}
{% block content %}
<h1>Add vehicle details</h1>
<form id="commonFormID" method="POST" action="{{ url_for('vehicle.add_vehicle') }}?SNo={{ SNo }}">

    <div class="flash messages">
        {% for msg in get_flashed_messages() %}
         <div class="alert alert-danger">{{ msg }}</div>
        {% endfor %}
    </div>
    <div class="CAligndiv">

        <input type="hidden" class="CAlign" id="S_No" name="S_No" placeholder="S_No" value="{{SNo}}" readonly>

        <label class="CAlign" for="Vehicle Type">Vehicle Type</label><br>
        <select style="height: 30px;" class="CAlign" id="VehicleType" name="VehicleType"  placeholder="VehicleType">
            <option value="car">Car</option>
            <option value="2-Wheeler">2-Wheeler</option>
            <option value="Heavy-Vehicle">Heavy-Vehicle</option>
        </select>
        <br><br>

        <label class="CAlign" for="Reg. No">Reg. No</label><br>
        <input class="CAlign" type="text" id="VehicleNumber" name="VehicleNumber"placeholder="Reg. Number" required maxlength="10">
        <br><br>

        <label class="CAlign" for="Car">Car</label><br>
        <input class="CAlign" type="Text" id="VehicleName" name="VehicleName" placeholder="Vehicle Name" required maxlength="30"><br><br>

        <div class="CAlign">
            <button type="submit" name="action" value="save_vehicle" class="btn btn-primary">Save Vehicle</button>
            <button type="submit" name="action" value="book_slot" class="btn btn-primary" style="margin-left:20px;">Book slot</button>

        </div>

    </div>

</form>



{% endblock %}
