{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{url_for('static','style.css')}}">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width initial-scale=1.0">

{% endblock %}
{% block content %}

{{'Sno', S_No}}

    <h1 style="text-align:center">Dashboard</h1>
    <div class="content">
        <br><br>
        <div class="flash message">
            {% for msg in get_flashed_messages() %}
            <div class="alert alert-danger">{{ msg }}</div>
            {% endfor %}
        </div>
    </div>
    {% if session['role'] == 'admin' %}
    <div class="row row-cols-1 row-cols-md-4 g-4 ms-6" style="margin-left:150px;">
        <div class="col m-4">
            <div class="card bg-light">
                <div class="card-header">Owner</div>
                <div class="card-body">
                    <p class="card-text">No. of owners: {{ owner_count }}</p>
                    <a class="btn btn-primary" href="{{ url_for('owner.display') }}">View Owners</a>
                </div>
            </div>
        </div>

        <div class="col m-4">
            <div class="card bg-light" style="width:350px;">
                <div class="card-header">Slots Booked</div>
                <div class="card-body">
                    <p class="card-text">No. of slots booked: {{ bookingslot_count }}</p>
                    <a class="btn btn-primary" href="{{ url_for('bookingslot.display') }}">View Slots</a>
                </div>
            </div>
        </div>

        <div class="col m-4">
            <div class="card bg-light" style="width:350px;">
                <div class="card-header">Vehicles</div>
                <div class="card-body">
                    <p class="card-text">No. of vehicles: {{ vehicle_count }}</p>
                    <a class="btn btn-primary" href="{{ url_for('vehicle.display') }}">View Vehicles</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 ms-6" style="margin-left:150px;">

        <div class="col m-4">
            <div class="card bg-light" style="width:350px;">
                <div class="card-header">Payment</div>
                <div class="card-body">
                    <p class="card-text">No. of payments: {{ payment_count }}</p>
                    <a class="btn btn-primary" href="{{ url_for('payment.display') }}">View Payments</a>
                </div>
            </div>
        </div>
            <div class="col m-4">
                <div class="card" style="width:350px;">
                    <div class="card-header">Sensor(Only for admin)</div>
                    <div class="card-body">
                        <p class="card-text">No. of sensor: {{ sensor_count }}</p>
                        <a class="btn btn-primary" href="{{ url_for('sensor.display') }}">View Sensors</a>
                    </div>
                </div>
            </div>
        <div class="col m-4">
            <div class="card" style="width:350px;">
                <div class="card-header">Slots(Only for admin)</div>
                <div class="card-body">
                    <p class="card-text">No. of sensor: {{ slots_count }}</p>
                    <a class="btn btn-primary" href="{{ url_for('Slots.display') }}">View Slots</a>
                </div>
            </div>
        </div>


    </div>
       <p style="display: flex; justify-content: center; text-align: center; border: 2px solid grey;"><a href="{{ url_for('vehicle.addCustomVehicle') }}"><button type="submit" class="btn btn-primary">Book Slot</button></a></p>
    {% endif %}


    {% if session['role'] == 'user' %}
<div class="Profile-container" style="display:flex; justify-content: center;">

        <div class="card" style="width: 28rem; height: 400px; border: 2px solid grey;">
      <div class="card-body">
        <h5 class="card-title" style="text-align:center;">Profile</h5>

        <p><strong>Name: </strong>{{ OwnerName }}</p>
        <p><strong>Contact: </strong>{{ OwnerContact }}</p>
        <p><strong>Vehicle Type: </strong>{{ VehicleType }}</p>
        <p><strong>Reg. No : </strong>{{ VehicleNumber }}</p>
        <p><strong>Date: </strong>{{ Date }}</p>
        <p><strong>From: </strong>{{ TimeFrom }}</p>
        <p><strong>To: </strong>{{ TimeTo }}</p>
        <p><strong>Duration: </strong>{{ duration }}</p>
        <p><strong>Address: </strong>{{ address }}</p>
        <p><strong>Slot: </strong>{{ Slot }}</p>


        
      </div>
    </div>
</div>

    {% endif %}



    


{% endblock %}











