{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{url_for('static','style.css')}}">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width initial-scale=1.0">
 {% endblock %}
 {% block content %}
 	<h1 style="text-align: center;">Dashboard</h1>
 	<table class="dashboard" border="2" style="margin-left: 400px;">
	    <thead>
		    </thead>
		<tbody>
		    <tr><td>Personal info</td></tr>
		    <tr>
		    	<td class="tag">username</td>
		    	<td class="info">{{username}}</td>
		    </tr>
		    <tr>
		    	<td class="tag">name</td>
		    	<td class="info">{{name}}</td>
		    </tr>
		    <tr>
		    	<td class="tag">contact</td>
		    	<td class="info">{{contact}}</td>
		    </tr>
		    <tr>
		    	<td class="tag">address</td>
		    	<td class="info">{{address}}</td>
		    </tr>
		</tbody>
	</table>
	<div style="margin-left:650px;">
		<a s href="{{url_for('auth.MyBookingsUser')}}"><button class="btn btn-primary">View Bookings</button></a><br><br>
		<h4>Your vehicles</h4>
	</div>
	<div class="row" style="padding: 10px; margin:10px;">
            {% for vehicle in vehicles %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">

                        <h5 class="card-title">Vehicle Name: {{ vehicle[4] }}</h5>
                        <p class="card-text">
                            <strong>Vehicle ID:</strong> {{ vehicle[0] }}<br>
                            <strong>Vehicle Type:</strong> {{ vehicle[1] }}<br>
                            <strong>Vehicle Number:</strong> {{ vehicle[2] }}<br>
                            <a href="{{url_for('vehicle.edit_vehicle', VehicleID=vehicle[0])}}" style="text-decoration:none">Edit</a>
                            <a href="{{url_for('vehicle.delete_vehicle', VehicleID=vehicle[0])}}" style="text-decoration:none">Delete</a>

                        </p>

                        <div class="form-check">
                            <!-- Changed name from SelectedID to VehicleID to match the backend code -->
                            <input class="form-check-input" type="radio" name="VehicleID" id="vehicle{{ vehicle[0] }}" value="{{ vehicle[0] }}" required>
                            <label class="form-check-label" for="vehicle{{ vehicle[0] }}">
                                Select this vehicle
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
	        


{% endblock %}

