{% extends "layout.html" %}
{% block content %}
<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial_scale="1.0">
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form method="POST" action="{{ url_for('auth.register_form') }}">
    <div class="flash message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if error %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% else %}
                    <div class="alert alert-success">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% if errors %}
<ul>
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="authdiv">
    {% for slot in availableSlots %}
        <input class="auth" type="hidden" id="UserID" name="UserID" value="{{slot}}" placeholder="UserID"><br><br>
    {% endfor %}

    <label for="username"></label>
    <input class="auth" type="text" id="username" name="username" placeholder="username" required maxlength="25">
    <br><br>

    <label for="password"></label>
    <input class="auth" type="password" id="password" name="password" placeholder="password" required minlength="6" maxlength="8">
    <br><br>

    <input class="auth" type="text" id="name" name="name" placeholder="Name" required maxlength="20"><br><br>
    <input class="auth" type="text" id="contact" name="contact" placeholder="Contact" required maxlength="10"><br><br>
    <input class="auth" type="text"id = "address" name="address" placeholder="Address" required maxlength="25"><br><br>

    <br><br>


    <button id="auth" type="submit" class="btn btn-primary">Submit</button>
</div>
    </form>


    <p id="auth2">Already have an account?
        <a href="{{ url_for('auth.login_form') }}">Login</a>
    </p>

</body>
</html>
{% endblock %}